[submodule "src/ldc24-description"]
	path = src/ldc24-description
	url = git@github.com:IntelligentSystemsLabUTV/ldc24-description.git
	branch = master
[submodule "src/zed_drivers"]
	path = src/zed_drivers
	url = git@github.com:dotX-Automation/zed_drivers.git
	branch = master
[submodule "src/go2_stack"]
	path = src/go2_stack
	url = git@github.com:dotX-Automation/go2_stack
